# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and system files
*.log
*.tmp
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
*.env
*.venv

# Ignore data, models, and results folders
data/
models/
results/
plots/

# DVC cache and metadata (except .dvc files)
.cache/
*.dvc.lock
*.dvc/tmp/

# Large file types
*.csv
*.tsv
*.jsonl
*.h5
*.hdf5
*.pt
*.bin
*.ckpt
*.safetensors
*.npy
*.npz

# VSCode settings (optional)
.vscode/

# MacOS system files
*.DS_Store

# Windows system files
ehthumbs.db
Icon?
